* {
    margin: 0;
    padding: 0;
}

#nav-icon {
    width: 150px;
    padding: auto;
}

nav {
    display: flex;
    margin: auto;
    padding: 20px 20px 0px;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

nav img {
    width: 250px;
    padding: auto;

}

.nav-links {
    flex: 1;
    text-align: left;
    background: rgb(228, 194, 171);
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a {
    color: #494949;
    text-decoration: none;
    font-size: 20px;
    font-family: Garamond, serif;
    text-align: left;
    padding: 0px 20px;

}

#report-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#report-buttons-div {
	display: block;
	width: 40%;
	text-align: right;
}


#report1-button, report2-button, report3-button, report4-button{
	margin-top:2%;
	font-size: 20px;
	font-family: Garamond, serif;
}

#table-div{
	display: flex;
	width: 50%;
	text-align: right;
	margin-left: 30px;
}

#table-div table{
	margin-right: 20px;
}

#table-div tr, th, td{
	font-size: 20px;
	padding: 10px;
}

#search-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#label-input{
  font-family: Garamond, serif;
}

.text-box button{
	margin-top:2%;
	font-size: 20px;
	font-family: Garamond, serif;
}

#search-button {
	margin-top:2%;
	font-size: 20px;
	font-family: Garamond, serif;
}


.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #494949;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

#centered-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

#button-div{
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#button-div a {
	margin-right: 20px;
}

.text-box {
    width: 90%;
    color: #494949;
    border-radius: 20px;
    background-color: rgba(228, 194, 171, 0.259);
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    font-family: Garamond, serif;
}

.text-box h1 {
    font-size: 50px;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin: auto;
    background-color: rgb(228, 194, 171);
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 20px;
    font-weight: 600;
    color: #494949;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #494949;
    background: transparent;
    border: 3px solid rgb(228, 194, 171);
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 50px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: rgb(228, 194, 171);
    border: 3px solid #494949;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .text-box {
        margin-top: Width - width/3;
        padding: 25px;
    }

    .nav-links {
        position: fixed;
        background: rgb(171, 204, 228);
        height: 100vh;
        width: 200px;
        margin: auto;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


.box {
    font-size: 22px;
    font-weight: 600;
    font-family: Garamond, serif;
    margin: auto;
    display: flex;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    padding-top: 20px;
    justify-content: space-between;
    font-family: Garamond, serif;

}

.space {
    height: 400vh;
    width: 100%;
    margin-top: 100px;
    background-color: #edc1c1;
}

.icons a {
    height: 20px;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    color: #000000;
    font-size: 30px;
}
