* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

#nav-icon {
    width: 150px;
    padding: auto;
}

nav {
    display: flex;
    padding: 2% 6%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

nav img {
    width: 250px;
    padding: auto;

}

.nav-links {
    flex: 1;
    text-align: left;
    background: rgb(228, 194, 171);
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a {
    color: #494949;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    text-align: left;
    padding: 0px 20px;

}

#search-form {
  display: inline;
}

input{
  display: inline;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #494949;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #494949;
    border-radius: 20px;
    background-color: rgba(228, 194, 171, 0.259);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
    padding: 30px;
    font-family: monospace;
}

.text-box h1 {
    font-size: 70px;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: auto;
    background-color: rgb(228, 194, 171);


}

.text-box h3 {
    font-size: 30px;
    color: #021100;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: 600;
    color: #494949;
    width: 100%;
    text-align: Left;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(228, 194, 171);
    background: transparent;
    border: 4px solid rgb(228, 194, 171);
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 50px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: rgb(228, 194, 171);
    color: #494949;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .text-box {
        margin-top: Width - width/3;
        padding: 25px;
    }

    .nav-links {
        position: fixed;
        background: rgb(171, 204, 228);
        height: 100vh;
        width: 200px;
        margin: auto;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


.box {
    font-size: 22px;
    font-weight: 600;
    font-family: monospace;
    margin: auto;
    display: flex;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    padding-top: 20px;
    justify-content: space-between;
    font-family: monospace;

}

.space {
    height: 400vh;
    width: 100%;
    margin-top: 100px;
    background-color: #edc1c1;
}

.icons a {
    height: 20px;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    color: #000000;
    font-size: 30px;
}
